extends layout 

block content 

    h1= title

    h2= genre.name

    if genre_books.length
        p Delete the following books before removing this genre:
        each book in genre_books 

            
            ul 
                li 
                    a(href=book.url) #{book.title}

    else 
        p No books of this genre. Do you want to delete it?
        form(method='POST' action='')
            div.form-group
                input#genreid.form-control(type='hidden', name='genreid', required='true', value=genre._id)
            
            button.btn.btn-primary(type='submit') Delete