extends layout 

block content
    h1= title 
    p Welcome to my Local Library! A basic Express website as a tutorial from the MDN docs.

    h2 Dynamic content

    if error 
        p error getting dynamic content
    else 
        p The library contains the following records: 

        ul 
            li #[strong Books:] !{data.book_count}
            li #[strong Copies:] !{data.book_instance_count}
            li #[strong Available copies:] !{data.book_instance_available_count} 
            li #[strong Authors:] !{data.author_count}
            li #[strong Genres:] !{data.genre_count}